#############################################
# TERRAFORM
#############################################

.terraform/
*.tfstate
*.tfstate.*
crash.log

#############################################
# VARIABLES SENSÍVEIS
#############################################

*.tfvars
*.tfvars.json

#############################################
# OVERRIDE FILES
#############################################

override.tf
override.tf.json
*_override.tf
*_override.tf.json

#############################################
# CLI CONFIG
#############################################

.terraformrc
terraform.rc

#############################################
# OS / EDITOR
#############################################

.vscode/
.DS_Store
Thumbs.db